pipeline/Incrementally load data from Azure SQL to Azure Data Lake using Watermark.json
{
	"name": "Incrementally load data from Azure SQL to Azure Data Lake using Watermark",
	"properties": {
		"activities": [
			{
				"name": "LookupSQLWatewatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(Watermarkvalue) as oldWatermarkvalue\n from watermarktable\n where TableName = 'softwizddemotable'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "watermarktable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "NewWaterMarkValue",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(LastModifytime) as newwatermarkvalue\nfrom [dbo].[softwizddemotable]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "softwizddemotable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data from sql to date",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupSQLWatewatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "NewWaterMarkValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from softwizddemotable where LastModifyTime >\n'@{activity('LookupSQLWatewatermark').output.firstRow.oldWatermarkvalue}' and LastModifyTime <=\n'@{activity('NewWaterMarkValue').output.firstRow.newwatermarkvalue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "softwizddemotable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "softwizddemotabletext",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Update Water Mark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data from sql to date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_watermark]",
					"storedProcedureParameters": {
						"LastModifiedTime": {
							"value": {
								"value": "@activity('NewWaterMarkValue').output.firstRow.newwatermarkvalue",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": "softwizddemotable",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "softwizSourceSQL",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "Proyectos"
		},
		"annotations": []
	}
}