pipeline/Table_copy_sql_to_adls.json
{
	"name": "Table_copy_sql_to_adls",
	"properties": {
		"description": "vamos a copiar las tablas de AW hacia adls mediante parámetros",
		"activities": [
			{
				"name": "Copy_table_sql_to_adls",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "SalesLT.@{pipeline().parameters.TableName}"
					},
					{
						"name": "Destination",
						"value": "dataset/Move and transform activities/@{\ntoUpper(\n    variables('FileName')\n    )\n}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ASQL_AWDW_Table",
						"type": "DatasetReference",
						"parameters": {
							"DataBaseName": {
								"value": "@pipeline().parameters.DatabaseName",
								"type": "Expression"
							},
							"TableName": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ADLS_almacenadls_table",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@variables('FileName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set variable File Name",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileName",
					"value": {
						"value": "@{\n    pipeline().parameters.TableName\n}_@{\n    formatDateTime(utcnow(),'yyyyMMdd')\n}.csv",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"DatabaseName": {
				"type": "string"
			},
			"TableName": {
				"type": "String"
			}
		},
		"variables": {
			"FileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Move and Transform Activity"
		},
		"annotations": [
			"Exportar tabla a CSV"
		]
	}
}